node_modules/
dist/
dist-ssr/
.vite/
target/
.mvn/wrapper/maven-wrapper.jar
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
.vscode/
.DS_Store
*.local
*.log
